@media screen and (max-width: 679px) {
    .mobile-pyg {
        width: 25% !important;
        height: 27px !important;
    }

    .mobile-google {
        width: 24% !important;
        height: 24px !important;
    }

    .mobile-duocUc {
        width: 25% !important;
        height: 20px !important;
    }

    .mobile-afpModelo {
        width: 25% !important;
        height: 24px !important;
        margin-top: 23px !important;
    }
    
    .mobile-entel {
        width: 24% !important;
        height: 22px !important;
    }

    .mobile-wom {
        width: 24% !important;
        height: 46px !important;
    }

    .mobile-copec {
        width: 24% !important;
        height: 18px !important;
    }

    .mobile-afc {
        width: 24% !important;
        height: 33px !important;
    }

    .mobile-larrainVial {
        width: 25% !important;
        height: 20px !important;
        margin-left: 18px !important;
        margin-right: 10px !important;
    }

    .mobile-fundacionChile {
        width: 22% !important;
        height: 33px !important;
    }

    .mobile-notCo {
        width: 24% !important;
        height: 40px !important;
    }

    .mobile-streetBurger {
        width: 24% !important;
        height: 30px !important;
    }

    .mobile-soprole {
        width: 24% !important;
        height: 40px !important;
    }

    .mobile-adidas {
        width: 24% !important;
        height: 33px !important;
    }

    .mobile-natura {
        width: 24% !important;
        height: 40px !important;
    }

    .mobile-abastible {
        width: 25% !important;
        height: 33px !important;
    }

    .mobile-weber {
        width: 24% !important;
        height: 31px !important;
    }

    .mobile-isaIntervial {
        width: 22% !important;
        height: 31px !important;
    }

    .mobile-bcoRipley {
        width: 24% !important;
        height: 33px !important;
    }
}