* {
  margin: 0;
  padding: 0;
  cursor: none;
}

#root {
  /* max-width: 1920px; */
  margin: 0;
  padding: 0;
  --color-menu-red: #ff0000;
  --color-menu-white: #fff;
  --color-menu-hover: #8b8b8b;
  --font-family-menu: nunitosans-italic;
  --font-family-regular: nunitosans-regular;
  --font-family-lato: lato-regular;
  --font-family-lato-light: lato-light;
  --font-family-lato-bold: lato-bold;
  --font-family-oswald: oswald-menu;
}

@font-face {
  font-family: oswald-menu;
  src: url("./font/Oswald_wght.ttf");
}

@font-face {
  font-family: nunitosans-italic;
  src: url("./font/NunitoSans-Italic.ttf");
  
}

@font-face {
  font-family: nunitosans-regular;
  src: url("./font/NunitoSans.ttf");
  
}

@font-face {
  font-family: ayuthaya;
  src: url("./font/Ayuthaya.ttf");
}

@font-face {
  font-family: lato-regular;
  src: url("./font/Lato-Regular.ttf");
}

@font-face {
  font-family: lato-light;
  src: url("./font/Lato-Light.ttf");
}

@font-face {
  font-family: lato-bold;
  src: url("./font/Lato-Bold.ttf");
}

body {
  
  background-color: black;
  overflow-y: hidden;
}

@media screen and /* (max-width: 679px) */(max-width: 1024px)  {
  * {
    cursor:default;
  }
}